 @import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

 * {
    font-family: 'REM', sans-serif;
 }

body {
    font-family: 'REM', sans-serif;
	background-color: rgb(10, 0, 12);
	color: white;
}

button {
	background-color: transparent;
	color: white;
	border: none;
	outline: none;
}
	
button:hover {
	background-color: rgb(15, 15, 15);
}